
:root {
  --background: #1f1f1f;
  --weak: #c586c0;
  --medium: #9cdcfe;
  --strong: #569cd6;
  --function: #dcdcaa;
  --string: #ce9178;
  --group1: #ffd700;
  --group2: #da70d6;
  --group3: #179fff;
  --class: #4ec9b0;
  --error: #f14c4c;
  --operator: #d4d4d4;
  --line-number: #6e7681;
  --line: #404040;
  --focus-line: #707070;
  --comment: #6a9955;
}

/* Element-Level */
body {
  background-color: var(--background);
  background-attachment: fixed;
  font-family: "Roboto Mono";
  font-weight: 512;
  font-size: 16px;
  color: var(--medium);
  line-height: 1.5;
}

p {
  position: relative;
  margin: 0;
  text-indent: -1.25em;
  padding-left: 1.25em;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--class);
  font-size: 1em;
  margin: 0;
}

em {
  color: var(--weak);
  font-style: normal;
}

strong {
  color: var(--strong);
  font-style: normal;
}

a:not(.unstyled) {
  text-decoration: none;
  color: var(--function);
}

a:not(:has(*))::after {
  content: "()";
  color: var(--operator);
}

a.unstyled {
  text-decoration: none;
  color: var(--medium);
}

ol {
  list-style: none;
  counter-reset: item;
  margin: 0;
  padding-left: 0;
}
 
ol > li {
  counter-increment: item;
  padding-left: 1em;
}

ol > li:before {
  padding-right: 1em;
  content: counter(item);
  text-align: center;
  display: inline-block;
  color: var(--line-number);
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 1.25em;
  position: relative;
}

ul > li {
  padding-left: 0;
}

/* ul > li:before {
  content: "│";
  padding-right: 0.65em;
  color: var(--group1);
} */

label {
  color: var(--strong);
  margin-right: 1em;
}

textarea {
  padding: 0;
  line-height: 1.5;
  background-color: var(--background);
  border: none;
  display: inline-block;
  outline: 1px solid var(--line);
  color: var(--string);
  font-family: "Roboto Mono";
  font-weight: 512;
  font-size: 16px;
}

canvas {
  display: inline-block;
}

input {
  padding: 0;
  background-color: var(--background);
  border-color: var(--line);
  color: var(--string);
  border-width: 1px;
  font-family: "Roboto Mono";
  font-weight: 512;
  font-size: 16px;
}

input[type=text] {
  width: min(100%, 71em);
}
input:not([type]) {
  width: min(100%,71em);
}

input:focus {
  outline-color: var(--focus-line);
  outline: solid thin;
}

input[type=radio]:focus {
  outline: none;
}

button {
  border: none;
  color: var(--strong);
  background-color: var(--background);
  padding: 0px;
  font-family: "Roboto Mono";
  font-weight: 512;
  font-size: 16px;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Class-Level */
.string {
  color: var(--string);
}

.operator {
  color: var(--operator);
}

.function {
  color: var(--function);
  cursor: pointer;
}

.line {
  border-left: 1px;
  border-color: var(--line);
  height: 100%;
}

.iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 75%;
}

/* ID-Level */
#numbers {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 3em; /* Set the width of the sidebar */
  float: left;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1em;
}

#content {
  padding-top: 1em;
  margin-left: 3em;
}

#blog-content {
  overflow-wrap: break-word;
}
